APP_ENV=prod
APP_DEBUG=0

# PostgreSQL
DATABASE_URL=pgsql://order:example@db:5432/orderdb

# RabbitMQ (prod)
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages
MESSENGER_FAILURE_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages.dlx

# JWT
JWT_PASSPHRASE=change_me
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_TOKEN_TTL=3600
