# Registry / Chart
APP_IMAGE=ghcr.io/taa0662621456/order-php
NGINX_IMAGE=ghcr.io/taa0662621456/order-nginx
CHART_REPO=ghcr.io/taa0662621456/helm-charts
HELM_REGISTRY=oci://ghcr.io/taa0662621456/helm-charts
ORDER_CHART_VERSION=v1.0.0

# Namespaces
STAGING_NS=order-staging
PROD_NS=order-prod

# Kubeconfigs (base64)
KUBECONFIG_STAGING_B64=
KUBECONFIG_PROD_B64=

# Slack
SLACK_WEBHOOK_URL_STAGING=
SLACK_WEBHOOK_URL_PROD=
