APP_ENV=dev
APP_DEBUG=1
# RabbitMQ (compose)
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages
MESSENGER_FAILURE_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages.dlx
DATABASE_URL=sqlite:///%kernel.cache_dir%/dev.db
