includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.generics
    level: 8
    paths:
        - src
    excludePaths:
        - var/metrics/*
        - var/runtime/*
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
    bootstrapFiles:
        - stubs/Illuminate/Support/ServiceProvider.php
        - stubs/Symfony/Component/HttpKernel/Bundle/Bundle.php
