KUBECONFIG=/home/runner/.kube/config
GHCR_PAT=ghp_example123
SLACK_WEBHOOK_URL_STAGING=https://hooks.slack.com/services/T000/B000/XXXX
SLACK_WEBHOOK_URL_PROD=https://hooks.slack.com/services/T000/B000/YYYY
